
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

.cards{
    background-repeat: no-repeat;
    background-size:cover; 
    background-position: center;
    text-shadow: 2px 2px 4px rgb(171, 166, 166);
}



