.active{
    padding-bottom:12px ;
    border-bottom: 3px solid black;
}

.usa{
    background-image: url("../assets/usa3.png");
    background-repeat: no-repeat;
    background-size:cover; 
    background-position: center;
}
.col{
    background-image: url("../assets/col2.png");
    background-repeat: no-repeat;
    background-size:cover; 
    background-position: center;
}