@tailwind base;
@tailwind components;
@tailwind utilities;

.text-white-new{
  background-image: url("../assets/blackcar.png");
  background-repeat: no-repeat;
  background-size:cover; 
  background-position: center;
}